{
  parser: "babel-eslint",
  "plugins": [
  "babel", "react", "react-native", "jsx-a11y"
  ],
  "rules": {
    comma-dangle: 0,
    no-undef: 0,
    no-unused-vars: 0,
    react/prop-types: 0,
    react/no-unused-state: 0,
    react/prefer-stateless-function: 0,
    no-plusplus: 0
    },
  "extends": ["airbnb"]
}
