html, body {
  margin: 0;
  background-color: #B21B00; }

.container .title {
  text-align: center;
  font-size: 40px; }

.container .container-map {
  display: flex;
  justify-content: center; }

.container .row {
  display: flex;
  justify-content: center;
  color: red; }

.container .table-map {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white; }

.container .cell {
  height: 1em;
  width: 1em;
  border: 1px solid black;
  background: green; }

.container .player {
  background: orange; }

.container .floor {
  background: #d6d1d1;
  border: 1px solid #dbd6d6; }

.container .door {
  background: red; }
